* {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
@font-face{
  src: url("./components/MovieScreen/RightBox/Inconsolata-Light.ttf");
  font-family: customThin;
 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  /* width: 100%; */
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  
  background: rgba(255, 0, 0, 0.8);
}
::-webkit-scrollbar-corner{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
