.rowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  color: white;
  position: relative;
  margin-top: 10px;
  width: 90%;
  min-width: 851px;
}

.arrow-img {
  height: 9px;
  image-rendering: -webkit-optimize-contrast;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.left-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: translateX(-50%) translateY(75.1px);
          transform: translateX(-50%) translateY(75.1px);
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 7px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-rendering: geometricPrecision;
  background-color: rgba(255, 255, 255, 0.13);
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.right-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  z-index: 9;
  image-rendering: -webkit-optimize-contrast;
  -webkit-font-smoothing: subpixel-antialiased;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 7px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-rendering: geometricPrecision;
  background-color: rgba(255, 255, 255, 0.13);
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-120px) translateX(50%);
          transform: translateY(-120px) translateX(50%);
  right: 0;
}

.left-arrow,
.right-arrow {
  opacity: 1;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(255, 255, 255, 0.644);
}

.arrow-img-large {
  height: 15px;
}

.left-arrow-large {
  padding: 10px;
  -webkit-transform: translateY(148px) translateX(-50%);
          transform: translateY(148px) translateX(-50%);
}

.right-arrow-large {
  padding: 10px;
  -webkit-transform: translateY(-200px) translateX(50%);
          transform: translateY(-200px) translateX(50%);
  right: 0;
}

.genre-title {
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 1.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.large-title {
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row-poster-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 13px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.row-poster-tooltip-cont {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7px;
  text-align: center;
  font-family: monospace;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.row-poster-tooltip {
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid #e91d1d;
  font-family: monospace;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.row-posts::-webkit-scrollbar {
  display: none;
}

.poster-cont {
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  -webkit-backface-visibility: hidden;
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.poster-cont-larger {
  max-height: 200px;
}

.row-poster {
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  -webkit-backface-visibility: hidden;
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  image-rendering: -webkit-optimize-contrast;
  resize: both;
}

.row-poster[title]:hover::after {
  border: 2px solid red;
  background-color: black;
}

.row-poster:hover {
  -webkit-transform: scale(1.05) translateZ(0);
          transform: scale(1.05) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
}

.row-poster-larger {
  max-height: 200px;
  color: #e7e7e752;
}
/*# sourceMappingURL=row.css.map */