:root {
  --acc-color: rgb(255, 255, 255);
  --speed: 200ms;
  --bg-color: #1a1a1a;
  --p-holder-color:rgb(146, 146, 146);
}

.l-profile-pic {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.main-background {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 11;
  pointer-events: all;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.backgrounds {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: none;
  z-index: 12;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.829);
}

.form-container {
  cursor: default;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 470px;
  width: 400px;
  border: 2px solid #ca0c0c;
  background-color: var(--bg-color);
  z-index: 15;
  border-radius: 5px;
  overflow: hidden;
  color: white;
}

.top-part {
  position: absolute;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: none;
}

.l-g-part {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  bottom: 0;
}

.forms-login {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 145px;
}

.forms-register {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 135px;
}

.menu {
  width: 100%;
  top: 120px;
  height: 275px;
}

.menu-login-enter {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

.menu-login-enter-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.menu-login-exit {
  position: absolute;
  top: 0;
}

.menu-login-exit-active {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.menu-register-enter {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.menu-register-enter-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.menu-register-exit {
  position: absolute;
  top: 0;
}

.menu-register-exit-active {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.login-logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 150px;
  margin-top: 0px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: 50px;
  font-size: 1.3rem;
  font-family: monospace;
  color: var(--acc-color);
  left: 0;
  height: 35px;
  width: 70px;
  border: none;
  background-color: transparent;
  padding: 5px;
  font-weight: 600;
  z-index: 10;
  outline: none;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.login-text:hover {
  background: rgba(68, 68, 68, 0.863);
}

.register-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: monospace;
  color: white;
  height: 35px;
  width: 80px;
  border: none;
  background-color: transparent;
  padding: 5px;
  z-index: 15;
  outline: none;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  border-bottom: 2px solid transparent;
}

.register-text:hover {
  background: rgba(68, 68, 68, 0.863);
}

.input-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 100%;
  font-family: monospace;
  overflow: hidden;
}

.input-part input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 30px;
  font-family: monospace;
  font-size: 1rem;
  background-color: var(--bg-color);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  color: white;
  border: 2px solid rgba(129, 129, 129, 0.924);
  outline: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

::-webkit-input-placeholder {
  color: var(--p-holder-color);
}

::-moz-placeholder {
  color: var(--p-holder-color);
}

::-ms-placeholder {
  color: var(--p-holder-color);
}

::-webkit-input-placeholder {
  color: var(--p-holder-color);
}

:-ms-input-placeholder {
  color: var(--p-holder-color);
}

::-ms-input-placeholder {
  color: var(--p-holder-color);
}

::placeholder {
  color: var(--p-holder-color);
}

.user-error-msg-cont {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40px;
  overflow: hidden;
}

.user-error-msg {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  position: relative;
  color: red;
}

.user-bg-tick-svg {
  right: 60px;
  top: 9px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  width: 12px;
  z-index: 15;
  padding: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.user-bg-tick-svg svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  height: 100%;
  width: 100%;
  stroke-width: 0.1rem;
}

.c-pass-error-msg-cont {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 270px;
  overflow: hidden;
}

.c-pass-error-msg {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  position: relative;
  color: red;
}

.c-pass-bg-tick-svg {
  right: 60px;
  top: 237.5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  width: 12px;
  z-index: 15;
  padding: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.c-pass-bg-tick-svg svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  height: 100%;
  width: 100%;
  stroke-width: 0.1rem;
}

.email-bg-tick-svg {
  right: 60px;
  top: 85px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13px;
  width: 13px;
  z-index: 15;
  padding: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.email-bg-tick-svg svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  height: 100%;
  width: 100%;
  stroke-width: 0.1rem;
}

.pass-bg-tick-svg {
  right: 60px;
  top: 161px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13px;
  width: 13px;
  z-index: 15;
  padding: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pass-bg-tick-svg svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: white;
  height: 100%;
  width: 100%;
  stroke-width: 0.1rem;
}

.email-error-msg-cont {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 115px;
  overflow: hidden;
}

.email-error-msg {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  position: relative;
  color: red;
}

.pass-error-msg-cont {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 193px;
  overflow: hidden;
}

.pass-error-msg {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  position: relative;
  color: red;
}

.input-part input:focus {
  border: 2px white solid;
}

.submit-button {
  position: relative;
  font-family: monospace;
  font-size: 1.5rem;
  border: 1px var(--bg) solid;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 110px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(241, 21, 21, 0.623);
  border-radius: 5px;
  border: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: white;
}

.submit-button:hover {
  background-color: #66df70;
}

.submit-button:disabled {
  background-color: rgba(167, 167, 167, 0.315);
  cursor: not-allowed;
}

.cross {
  color: var(--bg);
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  padding-left: 6px;
  padding-right: 6px;
  outline: none;
  cursor: pointer;
  -webkit-transition: background 200ms;
  transition: background 200ms;
  z-index: 15;
}

.cross:hover {
  background-color: rgba(77, 77, 77, 0.479);
}
/*# sourceMappingURL=login.css.map */